<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<link rel="stylesheet" href="../public/css/index03.css">
	<title>index03</title>
</head>
<body>
	<div class="userheader">
		<span class="icon-set"></span>
		<img src="../public/img/airline.jpg" alt="">
	</div>
	<div class="container">
		<div class="info">
			<span class="nickname">屋顶上的羊</span>
			<span class="address">居住地：北京</span>
		</div>
		<div class="link">
			<ul>
				<a href="#">
					<li>
						<span class="icon-order icon"></span>&nbsp;
						<span>我的订单</span>
						<span class="icon-more"></span>
					</li>
				</a>
				<a href="#">
					<li>
						<span class="icon-score icon"></span>&nbsp;
						<span>我的积分</span>
						<span class="icon-more"></span>
					</li>
				</a>
				<a href="#">
					<li>
						<span class="icon-update icon"></span>&nbsp;
						<span>软件更新</span>
						<span class="icon-more"></span>
					</li>
				</a>
				<a href="#">
					<li>
						<span class="icon-feedback icon"></span>&nbsp;
						<span>意见反馈</span>
						<span class="icon-more"></span>
					</li>
				</a>
				<a href="#">
					<li>
						<span class="icon-about icon"></span>&nbsp;
						<span>关于我们</span>
						<span class="icon-more"></span>
					</li>
				</a>
			</ul>
		</div>
	</div>
	<div class="footer">
		<ul>
			<li class="active">
				<span class="icon-home icon"></span>
				<span>首&nbsp;页</span>
			</li>
			<li>
				<span class="icon-shop icon"></span>
				<span>商&nbsp;城</span>
			</li>
			<li>
				<span class="icon-news icon"></span>
				<span >新&nbsp;闻</span>
			</li>
			<li>
				<span class="icon-my icon"></span>
				<span>我&nbsp;的</span>
			</li>
		</ul>
	</div>
<script src="../public/lib/jquery/jquery.min.js"></script>
</body>
</html>