<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<link rel="stylesheet" href="../public/css/index04.css">
	<title>index04</title>
</head>
<body>
	<div class="header">
		<!-- <span class="icon-logo"></span> -->
		<a href="javascript:history.go(-1)" class="icon-history"></a>
		<span class="title">会员登录</span>
	</div>
	<div class="container">
		<div class="tel">
			<span class="icon-user"></span>
			<input type="text" class="input-user" placeholder="请输入手机号">
		</div>
		<div class="pwd">
			<span class="icon-pwd"></span>
			<input type="password" class="input-pwd" placeholder="请输入密码">
		</div>
		<div class="btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</div>
		<div class="info">
			<p>没有账号？<a href="#">免费注册</a></p>
			<p>使用金汇通航APP，表示同意<a href="">《使用条款和隐私政策》</a></p>
		</div>
	</div>
</body>
</html>