<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<link rel="stylesheet" href="../public/css/index02.css">
	<title>index02</title>
</head>
<body>
	<div class="header">
		<!-- <span class="icon-logo"></span> -->
		<a href="javascript:history.go(-1)" class="icon-history"></a>
		<span class="title">新闻中心</span>
	</div>
	<div class="container">
		<p class="title">航迹2014：年度8大通用航空解读</p>
		<p class="content">
			<img src="../public/img/airline.jpg" alt="">
			<span>匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年，匆匆又是一年。</span>
		</p>
	</div>
<script src="../public/lib/jquery/jquery.min.js"></script>
</body>
</html>