<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<link rel="stylesheet" href="../public/css/index05.css">
	<title>index05</title>
</head>
<body>
	<div class="header">
		<!-- <span class="icon-logo"></span> -->
		<a href="javascript:history.go(-1)" class="icon-history"></a>
		<span class="title">积分查看</span>
	</div>
	<div class="container">
		<div class="rule">
			<p class="icon-set"></p>
			<p>
				<span><b class="icon-q">?</b>积分规则</span>
			</p>
		</div>
		<div class="score">
			<p>我的积分</p>
			<p>361</p>
		</div>
		<div class="score-detail">
			<p class="detail"><span>积分明细</span></p>
			<ul>
				<li>
					<p>购物回馈（订单号：012345）</p>
					<p>2016-07-08&nbsp;&nbsp;08:12:14</p>
					<p class="num">+365</p>
				</li>
				<li>
					<p>购物回馈（订单号：012345）</p>
					<p>2016-07-08&nbsp;&nbsp;08:12:14</p>
					<p class="num">+365</p>
				</li>
				<li>
					<p>购物回馈（订单号：012345）</p>
					<p>2016-07-08&nbsp;&nbsp;08:12:14</p>
					<p class="num">+365</p>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>